{%extends 'all-photos/base.html'%} {% block content %} {{block.super}}
<div class="row overflow-auto" style="height:70vh;">
  {%for image in all_images%}
  <div class="col-md-2 col-sm-4 p-0 ">
    <div class="card-columns" style="padding: 1%; border-radius: 15px;height: fit-content;">
      <img data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}" src="{{image.image.url}}" alt="{{image.name}}" style="object-fit: coverwidth;height: 29vh;border-radius: 3%; margin-bottom: 0;" id="img_poster">
    </div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg   fa-2x"></i></button>
            </div>
            <div class="modal-body">
              <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid"><br>
              <p class="imgdesc text-center">{{image.description}}</p><br>
            </div>
            <div class=" modal-footer ">
              <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
              <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
              <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Close </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>{% endblock %}